﻿@model MVCSampleApp.Models.Employee
    @using MVCSampleApp.Models;
@using System.Linq;

@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditEmployee</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <p>
            The skills sections is a bit strange. When the page loads, a new blank EmployeeSkill is created. Thus, to
            add multiple one must first save the entry then open it again so a new blank selectin will be available. 
        </p>

        <p>
            To remove a entry simply assign it a blank skill, or assign it to an existing skill. Only the first result is kept,
            the rest is deleted.
        </p>

        @if (Model.EmployeeSkills!=null)
        {
            for(int i=0; i<Model.EmployeeSkills.Count; i++)
            {
                @:<div class="form-group">
                    @Html.LabelFor(model => model.EmployeeSkills[i], htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.EmployeeSkills[i].ID)
                        @Html.HiddenFor(model => model.EmployeeSkills[i].EmployeeID)
                        @Html.LabelFor(model => model.EmployeeSkills[i].SkillID)
                        <br />
                        @Html.DropDownListFor(model => model.EmployeeSkills[i].SkillID,
                                              ((System.Collections.Generic.IEnumerable<Skill>)ViewBag.skills).Select(
                                                    (x)=>new SelectListItem()
                                                    {
                                                        Text = x.Name,
                                                        Value = x.ID.ToString(),
                                                        Selected = x.ID == Model.EmployeeSkills[i].SkillID
                                                    }
                                                  ),
                                              new { @class = "form-control" }

                       )
                        <br />
                        @Html.LabelFor(model => model.EmployeeSkills[i].YearsOfExperience)
                        <br />
                        @Html.EditorFor(model => model.EmployeeSkills[i].YearsOfExperience, new
                   {
                       htmlAttributes = new { @class = "form-control" }
                   })
                    </div>
                @:</div>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
