﻿@model IEnumerable<MVCSampleApp.Models.Employee>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>I did have a bit of trouble with this assignment. Not everything is working the way it should. I had no
    experience with ASP.net before starting, and it took me quite a bit of time finding suitable versions
    for the non-core version of .NET.</p>
<p>
    My general workflow for this problem was following a tutorial. However, the tutorial didn't cover
    creating new objects thus I spent a lot of time before figuring out I needed to set
    <code>db.Entry(k).State = EntityState.Added;</code> instead of modified. Then I needed to undo a lot
    of the hacks I had used to try to make this work.
</p>
<p>
    Next, I spent some time figuring out the skills table. I decided to use javascript since I know it quite
    well and I could showcase something fancy. This ended up working quite nicely.
</p>
<p>
    The last, most complicated part, which I was also not able to finish properly was the many-to-many relation.
    Making a database entry was quite trivial, but a editor is more complicated, especially since it also needs
    to work on not yet existing entries. Since I didn't have much more time, I decided to do this the easy way
    and just use the built-in form controlls. The initial problem was that these included ID's of foreign keys
    as integer spinnes, instead of the much more usefull drop-down list. It also included the ID of the
    EmployeeSkill relation and that of the employee, which should never be modified by the user. With some hacks
    I managed to hide the unnececairy entries and show a <code>&lt;select></code> box.
</p>
<p>
    Now I still had the problem of allowing adding extra entires. Since this would require extra data from the
    server that is difficult to send, I decided to skip this. Instead I generate one extra EmployeeSkill
    whenever the page loads and simply delete any blank EmployeeSkills when saving. This way I get
    "automatic" saving and deleting, at the cost of a rather bad user experience. This could be fixed with either
    more javascript or a extra variable for the amount of blank rows to generate that could be incremented
    with a link.
</p>
<p>
    Overall, this assignment cost me a good amount more than the 8 hours estimated, but I learned a lot about
    ASP.net, and could do it much faster and probably better if asked to do it again. Still, the end result
    is not that great, and while supporing most listed features is not that user friendly.
</p>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
    @foreach (MVCSampleApp.Models.Employee item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new { id = item.ID })
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td>

        </td>
        <td>

        </td>
        <td>
            @Html.ActionLink("New", "EditEmployee")
        </td>
    </tr>
</table>

