﻿@model IEnumerable<MVCSampleApp.Models.Skill>

@{
    ViewBag.Title = "ListSkills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skills</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var i in Model) {
    <tr id="row-@Html.DisplayFor(modelItem => i.ID)">
        <td id="name-@Html.DisplayFor(modelItem => i.ID)">
            @Html.DisplayFor(modelItem => i.Name)
        </td>
        <td id="desc-@Html.DisplayFor(modelItem => i.ID)">
            @Html.DisplayFor(modelItem => i.Description)
        </td>
        <td>
            <form hidden method="post" id="form-@Html.Encode(i.ID)">
            
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Html.Encode(i.ID.ToString())" name="ID">
            
                </form>
            <a href="#" class="edit-button" id="but-@Html.DisplayFor(modelItem => i.ID)">Edit</a>
        </td>
    </tr>
}
    <tr id="row-0">
        <td id="name-0"></td>
        <td id="desc-0"></td>
        <td>
            <form hidden method="post" id="form-0">
                @Html.AntiForgeryToken()
                <input type="hidden" value="0" name="ID" />
            </form>
            <a href="#" class="edit-button" id="but-0">New</a>

        </td>
    </tr>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/ListSkills.js")
}
